body {
    background-color: #263238;
}

.login-container {
    display: flex;

    width: 70%;
    max-width: 900px;
    height: 500px;

    min-height: 400px;
}

.login-image {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.login-image img {
    width: 70%;
    height: auto;

    object-fit: cover;
}

.separator {
    width: 5px;
    background-color: white;
}

.login-form {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 30px;
    padding: 40px;

    color: white;
}

.login-form h2 {
    margin-bottom: 20px;

    text-align: center;
    font-weight: normal;
}

.login-form input {
    padding: 12px;

    margin-bottom: 15px;

    border: none;
    border-radius: 4px;

    font-size: 16px;
}

input:focus {
    outline: 1px solid blue;
}

input:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.login-form button {
    padding: 15px;

    background-color: #3471b8;

    border: none;
    border-radius: 4px;

    color: white;
    font-size: 16px;

    cursor: pointer;

    transition: background 0.3s;
}

.login-form button:hover {
    background-color: #024a76;
}

.register-text {
    margin-top: 20px;

    text-align: center;
    font-size: 14px;

    color: white;
}

.register-text a {
    color: #3471b8;

    text-decoration: none;
    font-weight: bold;

    transition: color 0.3s;
}

.register-text a:hover {
    color: #024a76;
}